<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="kCalc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <kCalc.Properties.Settings>
            <setting name="FormForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="myFont" serializeAs="String">
                <value>Tahoma, 9pt</value>
            </setting>
            <setting name="PanelColor" serializeAs="String">
                <value>64, 0, 0</value>
            </setting>
            <setting name="FormBackColor" serializeAs="String">
                <value>64, 0, 0</value>
            </setting>
            <setting name="myFontDisplay" serializeAs="String">
                <value>Pocket Calculator, 18pt, style=Bold</value>
            </setting>
            <setting name="myFontScriptBox" serializeAs="String">
                <value>Tahoma, 9pt</value>
            </setting>
            <setting name="myFontScriptBoxColor" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="FormKCalcLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RFile1" serializeAs="String">
                <value/>
            </setting>
            <setting name="RFile2" serializeAs="String">
                <value/>
            </setting>
            <setting name="RFile3" serializeAs="String">
                <value/>
            </setting>
            <setting name="RFile4" serializeAs="String">
                <value/>
            </setting>
            <setting name="RFile5" serializeAs="String">
                <value/>
            </setting>
            <setting name="RFilePointer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveObjects" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="myPrinterFont" serializeAs="String">
                <value>Microsoft Sans Serif, 10.2pt</value>
            </setting>
        </kCalc.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
